<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生信息新增</title>
<link rel="stylesheet" type="text/css" href="/css/index/index.css" />
<link rel="shortcut icon" href="/images/favicon.ico">
<script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
	<div class="container form">
		<form action="/student/add" method="post">
			<div class="group">
				<label>姓名：</label>
				<input type="text" name="stuName"	>
			</div>
			<div class="group">
				<label>学号：</label>
				<input type="text" name="stuNo"	>
			</div>
			<div class="group submit">
				<input type="submit" value="新增"	 class="btn btn-info">
				<button class="btn" onclick="return YT.backIndex();" style="margin-left: 3%;margin-top: 1%;">返回</button>
			</div>
			
		</form>
	</div>
</body>
</html>