<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生信息首页</title>
<link rel="stylesheet" type="text/css" href="/css/index/index.css" />
<link rel="shortcut icon" href="/images/favicon.ico">
<script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
	
	<div class="container">
		<div class="tipMsg" th:style="${MSG==null?'display:none':'display:block'}">
			<span th:text="${MSG}"></span>
			<!-- <img src="/images/del.png"> -->
			<button class="close">×</button>
		</div>
		<div class="add">
			<a href="/student/toAdd">新增学生信息</a>
		</div>
		<div class="list">
			<a href="/student/list">展示学生信息</a>
		</div>
	</div>
</body>	
</html>